{% extends 'college/base.html' %}

{% block title %}
Depatment | VIDYA VIKAS COLLEGE OF ARTS , SCIENCE AND COMMERECE
{% endblock %}
{% block content %}
<!-- under graduate-->
<section class="dept p-5">
  <div class="container">
    <div class="row">
      <h3>UNDER GRADUATE</h3>
      <div class="card m-3 " style="width: 100%;">
        <h5 class="card-header">Science</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#" >B.Sc. (General)</a>
            </li>
            <li>
              <a href="/itstaff">B.Sc. (information technology)</a>
            </li>
            <li>
              <a href="/csstaff">B.Sc. (computer science)</a>
            </li>
            <li>
              <a href="#">B.Sc. (Biotechnology)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Commerce</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">B.Com. (General)</a>
            </li>
            <li>
              <a href="#">B.Com. ( Accounting  & Finance)</a>
            </li>
            <li>
              <a href="#">B.M.S. (Bachelor of Management Studies)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Arts</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">B.A.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- post graduate-->

<section class="dept p-5">
  <div class="container">
    <div class="row">
      <h3>POST GRADUATE</h3>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Science</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">M.Sc. (Organic Chemistry)</a>
            </li>
            <li>
              <a href="#">M.Sc. (Bio technology)</a>
            </li>
            <li>
              <a href="#">M.Sc. (Information Technology)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Commerce</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">M.Com. (Accountancy)</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Arts</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">M.A. (Economics )</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DISTANCE EDUCATION-->

<section class="dept p-5">
  <div class="container">
    <div class="row">
      <h3>DISTANCE EDUCATION</h3>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Yashwantrao Chavan Maharashtra Open University (Y.C.M.O.U.)</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">B.A.</a>
            </li>
            <li>
              <a href="#">B.Com.</a>
            </li>
            <li>
              <a href="#">B.Sc. (MLT)</a>
            </li>
            <li>
              <a href="#">M.B.A.</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Tilak Maharashtra Vidyapeeth (T.M.V.),</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">B.B.A.</a>
            </li>
            <li>
              <a href="#">B.C.A.</a>
            </li>
            <li>
              <a href="#">M.C.A.</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">Punjab Technical University (P.T.U)</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">M.C.A.</a>
            </li>
            <li>
              <a href="#">M.B.A.</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card m-3" style="width: 100%;">
        <h5 class="card-header">ALAGAPPA UNIVERSITY</h5>
        <div class="card-body">
          <ul class="pl-4">
            <li>
              <a href="#">B.B.A.</a>
            </li>
            <li>
              <a href="#">B.C.A.</a>
            </li>
            <li>
              <a href="#">M.B.A.</a>
            </li>
            <li>
              <a href="#">M.C.A.</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}