{% extends 'college/base.html' %}


{% block title %}
Gallery | VIDYA VIKAS COLLEGE OF ARTS , SCIENCE AND COMMERECE
{% endblock %}

{% block content %}
{% load static %}
<section class="staff" style="text-align: center;">
    <div class="container p-3">
        <h1 class="bg-success text-white">Confrence</h1>
        <div class="row">
            {% for i in conferences|slice:"0:" %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mt-3 shadow zoom">
                    <div>
                        <img class="img-fluid event" src="/media/{{i.conferences}}" alt="{{i.name}}">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="container p-3">
        <h1 class="bg-success text-white">event</h1>
        <div class="row">
            {% for i in event|slice:"0:" %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mt-3 shadow zoom">
                    <div>
                        <img class="img-fluid event" id="myImg" src="/media/{{i.event}}" alt="{{i.name}}">
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="container p-3">
        <h1 class="bg-success text-white">Sports</h1>
        <div class="row">
            {% for i in sports|slice:"0:" %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mt-3 shadow zoom">
                    <div>
                        <img class="img-fluid event" src="/media/{{i.sport}}" alt="{{i.name}}">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <div class="container p-3">
        <h1 class="bg-success text-white">Libary</h1>
        <div class="row">
            {% for i in library|slice:"0:" %}
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mt-3 shadow zoom">
                    <div>
                        <img class="img-fluid event" src="/media/{{i.library}}" alt="{{i.name}}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
